@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

.button {
  font-family: "Poppins", sans-serif;
}

.containers {
  min-height: 100vh;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
  overflow: hidden;
  transform-style: preserve-3d;
}

.navbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}


.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}


.abcd {
  top: 1.8rem;
  min-height: 92vh;
  width: 100%;
  background: url("../assets/rotate.jpg") no-repeat top center / cover;
  background-color: rgba(43, 51, 59, 0.8);
  position:relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(43, 51, 59, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
  
}

.title {
  font-size: 2.7rem;
  text-transform:uppercase;
  
}

.flex-v-align{
    vertical-align: middle;
    width: 100%;
    min-height: 100%;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0;

}

.home-photo{
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% - 2.29rem);
    padding-right: calc(100% - 2.5rem);
    background-color: #fff;
    border-radius: 62.5rem;
    border: 1.125rem solid rgb(56, 54, 54);
    overflow: hidden;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
}

.home-photo .hp-inner{
    background-image: url(../assets/profilic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    display: block;
    position: absolute;
    top: -1.125rem;
    bottom: -1.125rem;
    left: -1.125rem;
    right: -1.125rem;
}

.home-photo .hp-inner:hover{
    transform: scale(1.1) !important;
}

.home-text{
    text-align: left;
    padding-left: 25px;
    padding-right: 0;
}

.home-buttons {
    margin-top: 27px;
}


.aboutformat{
    max-width: 70rem;
    text-align: center;
    color: white;
    padding: 0 2rem;
}

.about{
    margin-top: 1.5rem;
    color:orangered;
    font-size: 2rem;
    text-align: left;
    font-weight:35  0;
}

.about:hover{
    color:orange;
}

.bttn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color:white;
  border: none;
  border-radius: 25px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.bttn:hover{
    background-color:orangered;
    color:white;
}

.typed-text{
    font-family: 'Titillium Web',sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color:orangered;
  }

.containers.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.containers.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.containers.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.containers.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;

}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.5rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.m1  {
    --i: 0.05s;
}
.m2  {
    --i: 0.05s;
}
.m3  {
    --i: 0.05s;
}
.m4  {
    --i:0.05s;
}
.m5  {
    --i: 0.05s;
}
.m6  {
    --i: 0.05s;
}

.links a:hover {
  color: orangered;
  transform: translateX(0.2rem) scale(1.1) !important;
  font-weight: bold;

}

.containers.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.containers.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.containers.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.containers.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.containers.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:orangered;
}

.contactpage{
    width: 60rem;
    text-align: center;
    color: #fff;
}

.okay{
    color: white;
    font-size: 1.4rem;

}
.sf{
    padding-left: 16.3rem;
}


